.button {
  background-color: #c8d5ff;
  outline: none;
  border: 0 solid transparent;
  border-radius: 7px;
  cursor: pointer;
  transition: background .2s ease,color .1s ease;
  font-weight: 600;
  line-height: 26px;
}
